body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(180deg, #ffe3ec, #ffa3c6);
    overflow-x: hidden;
    overflow: hidden;
}